html, body {
	min-height: 100% !important;
	height: 100%;
}
body {
	display: flex; 
	flex-direction: column; 
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#toolbar {
	padding: 5px;
	display: flex; 
	flex-direction: row;
}
#seciton {
	overflow-y: scroll;
	flex: 1;
	padding: 10px;
}	

span.sentence {
	font-size: 16px;
	/* display: inline-block; */
	cursor: pointer;
	padding: 2px 5px;
}

div.sentence + div.sentence{
	margin-top: 5px;
}
span.sentence > span +  span {
	margin-left: 0px;
}
div.active > span.sentence {
	background-color: orange;
}
.item {
	width: 30px; 
	margin-right: 5px; 
	color: blue; 
	text-align: right;
	display: inline-block;
}

button {
	padding: 5px 10px;
}
button + button {
	margin-left: 5px;
}