html, body{
	font-family: 'Helvetica Neue', 微軟正黑體, 'Microsoft Jhenghei', Helvetica, Arial, sans-serif;
	font-size:16px;
}
h3 {
	font-size: 18px;
	color: blue;
	margin: 2px 0;
}
ol, ul {
	margin-top: 2px;
}
html, body{
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'Helvetica Neue', 微軟正黑體, 'Microsoft Jhenghei', Helvetica, Arial, sans-serif;
	font-size: 16px;
	/*box-sizing: border-box;*/
}
pre {
	width: 100%;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	padding: 0px;
	margin: 0px;
}
.panel-body {
	overflow-y: auto;
	overflow-x: auto;
	padding: 5px;
}
.panel-body * {
	font-size: 16px !important;
}
h4 {
	color: blue;
	margin: 2px 0;
}
ol {
	margin-top: 2px;
}
