html, body{
	font-family: 'Helvetica Neue', 微軟正黑體, 'Microsoft Jhenghei', Helvetica, Arial, sans-serif;
	font-size:16px;
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
pre {
	width: 100%;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	padding: 0px;
	margin: 0px;
}
.panel-body {
	overflow-y: auto;
	overflow-x: auto;
	padding: 5px;
}
.panel-body * {
	font-size: 16px !important;
}
h3 {
	font-size: 18px !important;
	color: blue;
}
h4 {
	color: blue;
	margin: 2px 0;
}
ol, ul {
	margin-top: 2px;
	padding-left: 20px;
}

/*td.hljs-ln-numbers {*/
table.hljs-ln tr > td:nth-child(1){
	padding-right: 5px !important;
	border-right: 1px solid #8E24AA;
	min-width: 20px;
	text-align: right;
	vertical-align: top;
	height: 20px;
}
table.hljs-ln tr > td:nth-child(2){
	padding-left: 15px !important;
	vertical-align: top;
}

.tutor th, .tutor.html01 td:nth-child(1) {
	text-align: center;
}

.tutor td, th {
	padding: 6px 15px 6px 6px;
	border: 1px solid #aaa;
}
/*
div.hljs-ln-n {
	padding-right: 5px;
	border-right: 1px solid #eee;
}
*/
